.dashboard__disfruta {
	min-height: 100vh;
	width: 100%;
	overflow: hidden;
	padding-top: 1rem;
	padding-bottom: 4rem;
	text-align: center;
}
.disfruta {
	&__TitleH2 {
		font-weight: bold;
		font-size: 2.3rem;
		text-align: center;
		margin: 10px 10px 2rem 10px;
		color: #235c77;
	}
	&__TitleH4 {
		font-family: program, sans-serif;
		font-size: 15px;
		font-weight: 500;
		letter-spacing: 1.03px;
		line-height: 20px;
		text-transform: uppercase;
		color: #b5cb19;
		margin-top: 1rem;
	}
	&__span {
		display: inline-block;
		border-bottom: 2px solid #b5cb19;
	}
	&__contenedor {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		max-width: 1400px;
		margin: auto;
	}
	&__Atracciones {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 1rem 2rem;
		width: 100%;
	}
	&__Abejas {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		justify-content: center;
		margin: 1rem 2rem;
		width: 100%;
	}
	&__Zoologico {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 1rem 2rem;
		width: 100%;
	}
	&__Flora {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		justify-content: center;
		margin: 1rem 2rem;
		width: 100%;
	}
	&__img {
		object-fit: cover;
		width: 100%;
		height: 100%;
		box-shadow: 1em 1em 2em #c9c9c9, -1em -1em 2em #ffffff,
			inset 0 0 0 transparent, inset 0 0 0 transparent;
	}
	&__descripcion {
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 42%;
		margin: 0.5em 1rem;
	}
	&__p {
		width: 19em;
		font-size: 1.1rem;
		margin-bottom: 0.5rem;
		color: #000;
		line-height: 1.5rem;
	}
	&__a {
		font-family: 'Marhey', cursive;
		font-size: 1.5rem;
		color: #b5cb19;
		margin-bottom: 0.7em;
		transition: all 0.3s ease-in;
	}
	&__a:hover {
		transform: scale(1.15);
	}
	&__contenedorImagenes {
		height: 18rem;
		width: 42%;
	}
	&__video {
		width: 100%;
		height: 100%;
	}
}

.medio {
	&__svg {
		text-align: center;
		width: 5rem;
	}
	&__svg:hover {
		cursor: pointer;
	}
}

@media (max-width: 1400px) {
	.disfruta__contenedor {
		max-width: 1280px;
	}
}
@media (max-width: 1200px) {
	.disfruta__contenedor {
		max-width: 1140px;
	}
}
@media (max-width: 992px) {
	.disfruta {
		&__TitleH2 {
			font-size: 1.5rem;
		}
		&__contenedor {
			max-width: 960px;
		}
		&__Atracciones,
		&__Zoologico {
			flex-direction: column;
		}
		&__Abejas,
		&__Flora {
			flex-direction: column !important;
		}
		&__contenedorImagenes {
			width: 350px;
			height: 250px;
		}
		&__p {
			font-size: 18px;
		}
		&__a {
			font-size: 1.4rem;
		}
	}
}

@media (max-width: 768px) {
	.disfruta {
		&__contenedorImagenes {
			width: 280px;
			height: 200px;
		}
		&__contenedor {
			max-width: 720px;
		}
		&__TitleH2 {
			font-size: 20px;
		}
		&__p {
			font-size: 15.5px;
			line-height: 1.2rem;
		}
		&__a {
			font-size: 1.2rem;
		}
	}
}

@media (max-width: 576px) {
	.disfruta {
		&__contenedorImagenes {
			width: 300px;
		}
		&__img {
			border-radius: 50%;
		}
		&__contenedor {
			max-width: 540px;
		}
		&__TitleH2 {
			font-size: 13px;
		}
		&__p {
			font-size: 12.5px;
			line-height: 1rem;
		}
		&__a {
			font-size: 1rem;
		}
	}
}
