.dashboard-contactanos {
	&__soon {
		padding-top: 7rem;
	}
}

.soon {
	&__subtitulo {
		font-weight: lighter;
		font-size: 4rem;
		width: 35rem;
		margin-bottom: 2.8rem;
		margin-top: 1rem;
	}
}

.subtitulo {
	&__span {
		color: #4aa500;
		font-weight: bold;
	}
}
