.dashboard-atracciones {
	&__atraccionesPorMenos {
		background: url('/img/atraccionMainPage.jpg');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		min-height: 100vh;
		background-color: var(--background-color);
		position: relative;
		overflow: hidden;
		font-family: 'Barlow Semi Condensed', sans-serif;
	}
}

.atraccionesPorMenos {
	&__h2 {
		font-size: 1.5vw;
		position: absolute;
		top: 30%;
		line-height: 1;
		text-align: center;
		width: 100%;
		font-weight: 500;
		color: #fff;
	}
	&__h1 {
		font-size: 4vw;
		position: absolute;
		top: 40%;
		text-align: center;
		width: 100%;
		font-weight: 700;
		color: #fff;
	}
}

@media screen and (max-width: 1200px) {
	.dashboard-atracciones__atraccionesPorMenos {
		min-height: 60vh;
	}
	.atraccionesPorMenos__h1 {
		font-size: 3rem;
	}
	.atraccionesPorMenos__h2 {
		font-size: 1rem;
	}
}

// @media screen and (max-width: 795px) {
// 	.atraccionesPorMenos__h1 {
// 		font-size: 2rem;
// 	}
// }

@media screen and (max-width: 570px) {
	.atraccionesPorMenos__h1 {
		font-size: 38px;
	}
}

@media screen and (max-width: 400px) {
	.atraccionesPorMenos__h1 {
		font-size: 28px;
	}
}
