@use './navbar/Navbar';
// @use "sidebar/Sidebar.scss";
@use './home/home';
@use './saludConAbejas/saludConAbejas';
@use './Footer/Footer';
@use './contactanos/contactanos';
@use './atracciones/atracciones';
