.dashboard__carruselVideos {
	min-height: 100vh;
	background-color: #ffffff;
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	background: url('/img/Picture1.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.carruselVideos {
	&__TitleH2 {
		font-size: 4rem;
		font-weight: bold;
		width: 100%;
		color: #b5cb19;
		margin: 1.8rem 0px 0px 0px;
	}
	&__TitleH4 {
		font-family: program, sans-serif;
		font-size: 15px;
		font-weight: 500;
		letter-spacing: 1.03px;
		line-height: 20px;
		text-transform: uppercase;
		color: #dedede;
	}
	&__sliderVideos {
		width: 100%;
		height: 80vw;
		max-width: 120em;
		padding: 2em;
		margin: 1.5rem 2rem;
		color: #393939;
		transition: all 0.4s ease;
		border-radius: 1em;

		// box-shadow: 1em 1em 1em #b5cb19, -0.5em -1em 1em #b5cb19,
		// 	inset 0 0 0 transparent, inset 0 0 0 transparent;
		overflow: hidden;
	}
	&__p {
		font-size: 1.2em;
		margin: 1rem auto;
		font-family: program, sans-serif;
		letter-spacing: -0.27px;
		line-height: 27px;
		color: #ffffff;
	}
	&__descripcion {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		padding: 70px 50px 40px 6vw;
	}
	&__span {
		display: inline-block;
		border-bottom: 2px solid #dedede;
	}
}
.sliderVideos {
	&__slides {
		width: 200%;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		color: #393939;
		transition: all 0.4s ease;
		border-radius: 1em;
		// box-shadow: 1em 1em 2em #c9c9c9, -1em -1em 1em #ffffff,
		// 	inset 0 0 0 transparent, inset 0 0 0 transparent;
		padding: 2em;
		transition: all 0.5s ease;
		transform: translateX(0%);
	}
	&__btnsVideo {
		width: 100%;
		margin: 1em 0 0;
		padding: 0.4em;
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
	}
	&__video {
		width: calc(100% / 2 - 3rem);
		color: #393939;
		transition: all 0.4s ease;
		border-radius: 1em;
		background-color: #ececec;
		// box-shadow: 1em 1em 2em #c9c9c9, -1em -1em 2em #ffffff,
		// 	inset 0 0 0 transparent, inset 0 0 0 transparent;
		margin: 0 !important;
	}
}

.btnsVideo {
	&__punto {
		width: 2em;
		height: 2em;
		margin: 1em 1em 0;
		color: #393939;
		transition: all 0.4s ease;
		border-radius: 1em;
		background-color: #ececec;
		box-shadow: 0.6em 0.6em 1.2em #c9c9c9, -0.6em -0.6em 1.2em #ffffff,
			inset 0 0 0 transparent, inset 0 0 0 transparent;
	}
	&__punto.active {
		background-color: #b5cb19;
	}
}
@media screen and (max-width: 1500px) {
	.dashboard__carruselVideos {
		flex-direction: column-reverse;
		justify-content: space-around;
	}
	.carruselVideos__sliderVideos {
		width: 70%;
		height: 100%;
	}
	.carruselVideos__TitleH2 {
		font-size: 3rem;
	}
	.carruselVideos__p {
		font-size: 1.1rem;
	}
	.carruselVideos__TitleH4 {
		color: #235c77;
	}
	.carruselVideos__span {
		border-bottom: 2px solid #235c77;
	}
}
@media screen and (max-width: 980px) {
	.carruselVideos__TitleH2 {
		font-size: 2.5rem;
	}
	.carruselVideos__sliderVideos {
		width: 80%;
	}
	.dashboard__carruselVideos {
		justify-content: center;
	}
	.carruselVideos__TitleH4 {
		font-size: 1rem;
	}
}

@media screen and (max-width: 795px) {
	.carruselVideos__TitleH2 {
		font-size: 2rem;
	}
	.carruselVideos__p {
		font-size: 0.8rem;
		font-weight: bold;
	}
}
@media screen and (max-width: 600px) {
	.sliderVideos__slides {
		padding: 0;
	}
	.sliderVideos__video {
		width: calc(100% / 2 - 3rem);
	}
	.carruselVideos__descripcion {
		margin-bottom: 3rem;
	}
}
@media screen and (max-width: 420px) {
	// .carruselVideos__TitleH2 {
	// 	font-size: 26px;
	// }
	.carruselVideos__sliderVideos {
		width: 90%;
	}
	.carruselVideos__TitleH4 {
		font-size: 0.6rem;
		color: #235c77;
	}
}
