.dashboard-atracciones {
	&__trekking {
		background: url('/img/trekking.jpg');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		min-height: 100vh;
		background-color: var(--background-color);
		position: relative;
		overflow: hidden;
		font-family: 'Barlow Semi Condensed', sans-serif;
	}
}

.trekking {
	&__h2 {
		font-size: 5rem;
		position: absolute;
		top: 30%;
		line-height: 1;
		text-align: center;
		width: 100%;
		font-weight: 500;
		color: #fff;
	}
	&__p {
		position: absolute;
		bottom: 0;
		font-size: 1rem;
		width: 100%;
		font-weight: lighter;
		min-height: 90px;
		display: flex;
		background-color: #ccc3c3c7;
		justify-content: center;
		align-items: center;
	}
}

@media (max-width: 305px) {
	.trekking {
		&__h2 {
			font-size: 3.5rem;
		}
	}
}

@media (max-width: 195px) {
	.trekking {
		&__h2 {
			font-size: 2rem;
		}
	}
}
