.dashboard-mision__description {
	min-height: 30vh;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}
.description {
	&__p {
		text-align: center;
		font-size: 3rem;
		font-family: 'Barlow Semi Condensed';
		font-weight: 400;
		max-width: 420px;
		text-transform: uppercase;
	}
	&__p:hover {
		transform: scale(1.15);
	}
}
