@use './bases/reset';
@use './modules/Modules';
@use './utilities/Utilities';

/* dark mode  */
.dark-mode {
	background-color: #121212;
	color: #ffffff;
}
.dark-navBar {
	background-color: rgba(0, 0, 0, 0.5);
	color: var(--main-color);
}
.dark-hamburguer {
	background-color: #fff;
}
.dark-disfrutaP {
	color: #fff;
}
