.dashboard-abejas {
	&__sonVida {
		background: url('/img/WelcomeAbejas.jpg');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		min-height: 100vh;
		background-color: var(--background-color);
		position: relative;
		overflow: hidden;
		font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
			'Lucida Sans', Arial, sans-serif;
	}
}

.sonVida {
	&__h2 {
		font-size: 4vw;
		position: absolute;
		top: 70%;
		text-align: center;
		width: 100%;
		font-weight: 100;
		color: #f5f5f5;
	}
	&__h1 {
		font-size: 8vw;
		position: absolute;
		top: 80%;
		text-align: center;
		width: 100%;
		font-weight: 700;
		color: #fed821;
	}
}

@media (max-width: 1180px) {
	.sonVida__h2 {
		font-size: 3rem;
	}
	.sonVida__h1 {
		font-size: 7rem;
	}
}

@media (max-width: 680px) {
	.sonVida__h2 {
		font-size: 2.2rem;
	}
	.sonVida__h1 {
		font-size: 5rem;
	}
}

@media (max-width: 460px) {
	.sonVida__h2 {
		font-size: 1.7rem;
	}
	.sonVida__h1 {
		font-size: 3.5rem;
	}
}
