.dashboard-contactanos {
	&__soon {
		padding-top: 7rem;
	}
}

.soon {
	&__titulo {
		font-weight: 550;
		font-size: 3.5rem;
	}
	&__subtitulo {
		font-weight: lighter;
		font-size: 3.4rem;
		width: 30rem;
		margin-bottom: 2.8rem;
	}
}

.subtitulo {
	&__span {
		color: #4aa500;
	}
}
