---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Atracciones">
	<main class="dashboard-atracciones">
		<section class="dashboard-atracciones__atraccionesPorMenos">
			<h2 class="atraccionesPorMenos__h2">ASEGURA LA DIVERSION</h2>
			<h1 class="atraccionesPorMenos__h1">ATRACCIONES POR MENOS</h1>
		</section>
		<section class="dashboard-atracciones__cards">
			<h1 class="cards__h1">ATRACCIONES</h1>
			<div class="cards__cardItem">
				<figure class="cardItem__containerImg">
					<img class="cardItem__img" src="./img/downHillCard.jpg" />
				</figure>
				<div class="cards__contenido">
					<h3 class="cardItem__cardTitle">Colina Abajo</h3>
					<p class="cardItem__cardDescription">
						Lorem ipsum, dolor sit amet consectetur adipisicing elit.
						Voluptatibus, ratione.
					</p>
					<a href="#dh" class="cardItem__btn">Ir</a>
				</div>
			</div>
			<div class="cards__cardItem">
				<figure class="cardItem__containerImg">
					<img class="cardItem__img" src="./img/trekkingCard.jpeg" />
				</figure>
				<div class="cards__contenido">
					<h3 class="cardItem__cardTitle">Trekking</h3>
					<p class="cardItem__cardDescription">
						Lorem ipsum, dolor sit amet consectetur adipisicing elit.
						Voluptatibus, ratione.
					</p>
					<a href="#trk" class="cardItem__btn">Ir</a>
				</div>
			</div>
			<div class="cards__cardItem">
				<figure class="cardItem__containerImg">
					<img class="cardItem__img" src="./img/hola.jpg" />
				</figure>
				<div class="cards__contenido">
					<h3 class="cardItem__cardTitle">Ejemplo</h3>
					<p class="cardItem__cardDescription">
						Lorem ipsum, dolor sit amet consectetur adipisicing elit.
						Voluptatibus, ratione.
					</p>
					<a href="#" class="cardItem__btn">Ir</a>
				</div>
			</div>
			<div class="cards__cardItem">
				<figure class="cardItem__containerImg">
					<img class="cardItem__img" src="./img/hola.jpg" />
				</figure>
				<div class="cards__contenido">
					<h3 class="cardItem__cardTitle">Ejemplo</h3>
					<p class="cardItem__cardDescription">
						Lorem ipsum, dolor sit amet consectetur adipisicing elit.
						Voluptatibus, ratione.
					</p>
					<a href="#" class="cardItem__btn">Ir</a>
				</div>
			</div>
		</section>
		<section class="dashboard-atracciones__downHill" id="dh">
			<h2 class="downHill__h2">Colina Abajo</h2>
			<p class="downHill__p">La adrenalina rueda colina abajo</p>
		</section>
		<section class="dashboard-atracciones__trekking" id="dh">
			<h2 class="trekking__h2">Trekking</h2>
			<p class="trekking__p">La adrenalina rueda colina abajo</p>
		</section>
		<!-- <section class="dashboard-atracciones__apiturismo">
			<h2 class="apiturismo__h2">Apiturismo</h2>
			<p class="apiturismo__p">
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora. Lorem
				ipsum dolor sit amet consectetur adipisicing elit. Omnis quibusdam
				nesciunt cumque deleniti repellendus ex laboriosam ipsa quisquam
				placeat, quo aliquid accusamus, consequuntur, accusantium nostrum est
				dicta velit dignissimos earum.
			</p>
		</section>
		<section class="dashboard-atracciones__polen">
			<h2 class="polen__h2">Polen</h2>
			<p class="polen__p">
				Las personas toman polen de abeja para el rendimiento atlético, la
				fiebre del heno, el eccema, el estreñimiento, la obesidad y muchas otras
				condiciones
			</p>
		</section> -->
	</main>
</Layout>
