---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Atracciones">
	<main class="dashboard-atracciones" data-dark>
		<section class="dashboard-atracciones__atraccionesPorMenos">
			<h2 class="atraccionesPorMenos__h2">ASEGURA LA DIVERSION</h2>
			<h1 class="atraccionesPorMenos__h1">ATRACCIONES POR MENOS</h1>
		</section>
		<section class="dashboard-atracciones__cards">
			<h1 class="cards__h1">ATRACCIONES</h1>
			<div class="cards__cardItem">
				<figure class="cardItem__containerImg">
					<img class="cardItem__img" src="./img/downHillCard.jpg" />
				</figure>
				<div class="cards__contenido">
					<h3 class="cardItem__cardTitle">Colina Abajo</h3>
					<p class="cardItem__cardDescription">
						La emoción de descender por una colina a gran velocidad mientras se siente el viento en la cara 
					</p>
					<a href="#dh" class="cardItem__btn">Ir</a>
				</div>
			</div>
			<div class="cards__cardItem">
				<figure class="cardItem__containerImg">
					<img class="cardItem__img" src="./img/trekkingCard.jpg" />
				</figure>
				<div class="cards__contenido">
					<h3 class="cardItem__cardTitle">Trekking</h3>
					<p class="cardItem__cardDescription">
						Explorar la naturaleza y superar retos en rutas escénicas.
					</p>
					<a href="#trk" class="cardItem__btn">Ir</a>
				</div>
			</div>
			<div class="cards__cardItem">
				<figure class="cardItem__containerImg">
					<img class="cardItem__img" src="./img/climbCard.jpg" />
				</figure>
				<div class="cards__contenido">
					<h3 class="cardItem__cardTitle">Climb</h3>
					<p class="cardItem__cardDescription">
						Desafia las alturas y vence tus límites.
					</p>
					<a href="#climb" class="cardItem__btn">Ir</a>
				</div>
			</div>
			<div class="cards__cardItem">
				<figure class="cardItem__containerImg">
					<img class="cardItem__img" src="./img/puenteNepalCard.jpg" />
				</figure>
				<div class="cards__contenido">
					<h3 class="cardItem__cardTitle">Puente Nepal</h3>
					<p class="cardItem__cardDescription">
						"El puente colgante más largo de La Libertad" 
					</p>
					<a href="#nepal" class="cardItem__btn">Ir</a>
				</div>
			</div>
		</section>
		<section class="dashboard-atracciones__downHill" id="dh">
			<h2 class="downHill__h2">Colina Abajo</h2>
			<p class="downHill__p">
				Descender a gran velocidad por una colina sintiendo el viento en el rostro es emocionante.
			</p>
		</section>
		<section class="dashboard-atracciones__trekking" id="trk">
			<h2 class="trekking__h2">Trekking</h2>
			<p class="trekking__p">
				Atravesar paisajes escénicos y desafiar obstáculos en la naturaleza es emocionante.
			</p>
		</section>
		<section class="dashboard-atracciones__climb" id="climb">
			<h2 class="climb__h2">Climb</h2>
			<p class="climb__p">
				Supera tus límites desafiando las alturas.
			</p>
		</section>
		<section class="dashboard-atracciones__puenteNepal" id="nepal">
			<h2 class="puenteNepal__h2">Puente Nepal</h2>
			<p class="puenteNepal__p">
				El puente colgante más extenso de la Libertad.
			</p>
		</section>
	</main>
</Layout>
