---
import Layout from '../layouts/Layout.astro'
import ConocenosCard from '../components/ConocenosCard.astro'
---

<Layout title="Cerro Blanco">
	<main class="dashboard-mision">
		<section class="dashboard-mision__conocenos">
			<h1 class="conocenos__TitleH1">CONÓCENOS</h1>
			<h2 class="conocenos__TitleH2">
				Contamos con personal altamente calificado
			</h2>
		</section>
		<section class="dashboard-mision__description">
			<p class="description__p">quienes somos?</p>
		</section>
		<section class="dashboard-mision__contenido">
			<div class="contenido__Mision">
				<ConocenosCard
					title={'Mision'}
					description={'Conservamos y protegemos la naturaleza y fauna, en especial las abejas. Creamos conciencia sobre su importancia y fomentamos prácticas sostenibles. Con nuestras atracciones extremas, educamos y emocionamos a los visitantes sobre la preservación de la fauna y flora.'}
				/>
			</div>
			<div class="contenido__Vision">
				<ConocenosCard
					title={'Vision'}
					description={'Lideramos la protección de la naturaleza y la fauna, enfocados en las abejas. Inspiramos y educamos a la sociedad, promovemos prácticas sostenibles y contribuimos a un mundo más consciente y responsable del medio ambiente. Con nuestras atracciones extremas, motivamos acciones positivas hacia la conservación de la naturaleza.'}
				/>
			</div>
		</section>
	</main>
</Layout>
