---
import Layout from '../layouts/Layout.astro'
import ConocenosCard from '../components/ConocenosCard.astro'
---

<Layout title="mision">
	<main class="dashboard-mision">
		<section class="dashboard-mision__conocenos">
			<h1 class="conocenos__TitleH1">CONÓCENOS</h1>
			<h2 class="conocenos__TitleH2">
				Contamos con personal altamente calificado
			</h2>
		</section>
		<section class="dashboard-mision__description">
			<p class="description__p">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus similique
				eos suscipit alias asperiores recusandae corporis laborum dolores
				explicabo ipsam iste ducimus animi, nemo neque ut quod unde perspiciatis
				impedit?
			</p>
		</section>
		<section class="dashboard-mision__contenido">
			<div class="contenido__Mision">
				<ConocenosCard
					title={'Mision'}
					description={'Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus similique eos suscipit alias asperiores recusandae corporis laborum dolores'}
				/>
			</div>
			<div class="contenido__Vision">
				<ConocenosCard
					title={'Vision'}
					description={'Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus similique eos suscipit alias asperiores recusandae corporis laborum dolores'}
				/>
			</div>
		</section>
	</main>
</Layout>
