---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Salud con abejas">
	<main class="dashboard-abejas">
		<section class="dashboard-abejas__sonVida">
			<h2 class="sonVida__h2">Las abejas son más que miel</h2>
			<h1 class="sonVida__h1">SON VIDA</h1>
		</section>
		<section class="dashboard-abejas__apiterapia">
			<h2 class="apiterapia__h2">Apiterapia</h2>
			<p class="apiterapia__p">
				Es una terapia alternativa basada en elementos provenientes de las
				colmenas de las abejas para prevenir y curar diversas enfermedades. Se
				utilizan elementos como: miel, jalea real, pan de abeja, cera,
				propóleos, veneno de abeja, larvas de zángano, abejas enteras, aire de
				la colmena o el polen. A estos componentes, así como a componentes del
				veneno de las abejas, se les atribuyen propiedades para acelera la cura
				de enfermedades estimulando las defensas del organismo y mejorando a su
				vez el estado de ánimo.
			</p>
		</section>
		<section class="dashboard-abejas__apiturismo">
			<h2 class="apiturismo__h2">Apiturismo</h2>
			<p class="apiturismo__p">
				El apiturismo es una actividad turística que involucra visitas guiadas a colmenas de abejas, donde los turistas pueden aprender sobre la vida de las abejas, su importancia en la polinización y la producción de miel. Los visitantes pueden probar la miel y otros productos apícolas, así como participar en actividades prácticas, como la extracción de miel y la elaboración de velas. El apiturismo es una experiencia educativa y entretenida que atrae a los amantes de la naturaleza y la gastronomía.
			</p>
		</section>
		<section class="dashboard-abejas__polen">
			<h2 class="polen__h2">Polen</h2>
			<p class="polen__p">
				Las personas toman polen de abeja para el rendimiento atlético, la
				fiebre del heno, el eccema, el estreñimiento, la obesidad y muchas otras
				condiciones
			</p>
		</section>
	</main>
</Layout>
