.dashboard__navbar{
    font-weight: 500;
    color: var(--link-color);
    display: grid;
    grid-template-columns: 20rem 1fr 20rem;
    grid-template-rows: 1fr;
    grid-template-areas: "logo centerMenu optionsMenu";
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    background-color:rgba(255, 255, 255, 0.5) ;
    backdrop-filter: blur(3px);
}
.navbar{
    &__logo{
        justify-self: center;
    width: 10rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    }
    &__optionsMenu{
        place-self: center;
    display: flex;
    gap: .2rem 3rem;
    font-size: 1rem;
    text-align: center;
    list-style: none;
    }
    &__options{
        place-self: center;
  display: flex;
  gap: .2rem 3rem;
  font-size: 1rem;
  text-align: center;
  list-style: none;
    }
    &__itemsMenu:hover{
        color: var(--second-color);
  transition: all .2s ease-in-out;
    }
    &__itemsMenu{
        text-decoration: none;
    }
}