.dashboard__footer {
	font-weight: 500;
	color: var(--second-color);
	display: grid;
	grid-template-columns: 15rem 1fr 15rem;
	grid-template-rows: 1fr;
	grid-template-areas: 'logo centerMenu optionsMenu';
	overflow: hidden;
	top: 0;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.5);
}

.footer {
	&__logo {
		justify-self: center;
		width: 10rem;
		padding-top: 0.2rem;
		padding-bottom: 0.2rem;
	}
	&__options {
		place-self: center;
		display: flex;
		gap: 0.2rem 3rem;
		font-size: 1rem;
		text-align: center;
	}
	&__copyright {
		font-size: 1rem;
		text-align: center;
		place-self: center;
	}
}

@media screen and (max-width: 768px) {
	.dashboard__footer {
		grid-template-columns: 1fr 1fr 1fr;
	}
	.footer__copyright {
		font-size: 0.7rem;
	}
}

@media screen and (max-width: 420px) {
	.dashboard__footer {
		grid-template-columns: 1fr 1fr 1fr;
	}
	.footer__copyright {
		font-size: 0.5rem;
		font-weight: bold;
	}
	.footer__logo {
		width: 70px;
	}
}
