.dashboard__carrusel {
	min-height: 100vh;
	background-color: #fffafa;
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.carrusel {
	&__TitleH2 {
		font-size: 2rem;
		font-weight: bold;
		width: 100%;
		text-align: center;
		color: #ffbb01;
		margin: 1.8rem 0px 0px 0px;
	}
	&__slider {
		position: relative;
		width: 80%;
		margin: 1rem auto;
		text-align: center;
	}
}
.slider {
	&__slides {
		position: relative;
		height: 50rem;
	}
	&__btns {
		position: absolute;
		/* width: 100%; */
		top: 90%;
		left: 50%;
		display: flex;
		justify-content: space-between;
		font-size: 3rem;
		font-weight: bold;
		border: solid rgb(236, 234, 234);
		border-radius: 50%;
	}
}

.slides {
	&__slide {
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		visibility: hidden;
		transition: opacity 1s ease;
	}
	&__slide img {
		height: inherit;
		width: inherit;
		object-fit: cover;
		object-position: 50% 0%;
	}
	&__slide.active {
		opacity: 1;
		visibility: visible;
	}
}
.slide {
	&__link {
		width: 100%;
		position: absolute;
		height: 100%;
		top: 0;
		left: 0;
	}
}

.btns {
	&__prev,
	&__next {
		display: block;
		margin: 0px 0.2em;
		text-decoration: none;
		color: rgba(236, 234, 234, 0.534);
	}
	&__prev:hover,
	&__next:hover {
		color: rgb(236, 234, 234);
		transition: all 0.1s ease-in;
	}
}

@media screen and (max-width: 980px) {
	.carrusel__TitleH2 {
		font-size: 1.6rem;
	}
}

@media screen and (max-width: 795px) {
	.carrusel__TitleH2 {
		font-size: 25px;
	}
}

@media screen and (max-width: 420px) {
	.carrusel__TitleH2 {
		font-size: 20px;
	}
}
