.dashboard__carrusel {
	min-height: 100vh;
	background-color: #ffffff;
	position: relative;
	overflow: hidden;
	display: flex;

	align-items: center;
}
.carrusel {
	&__TitleH2 {
		font-size: 4rem;
		font-weight: bold;
		width: 100%;
		color: #b5cb19;
		margin: 1.8rem 0px 0px 0px;
	}
	&__TitleH4 {
		font-family: program, sans-serif;
		font-size: 15px;
		font-weight: 500;
		letter-spacing: 1.03px;
		line-height: 20px;
		text-transform: uppercase;
		color: #235c77;
	}
	&__slider {
		width: 90%;
		max-width: 120em;
		padding: 2em;
		margin: 1.5rem 2rem;
		color: #393939;
		transition: all 0.4s ease;
		border-radius: 1em;
		background-color: #ececec;
		box-shadow: 1em 1em 1em #b5cb19, -0.5em -1em 1em #b5cb19,
			inset 0 0 0 transparent, inset 0 0 0 transparent;
		overflow: hidden;
	}
	&__p {
		font-size: 1.2em;
		margin: 1rem auto;
		font-family: program, sans-serif;
		letter-spacing: -0.27px;
		line-height: 27px;
	}
	&__descripcion {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		padding: 70px 50px 40px 6vw;
	}
	&__span {
		display: inline-block;
		border-bottom: 2px solid #235c77;
	}
}
.slider {
	&__slides {
		width: 500%;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		color: #393939;
		transition: all 0.4s ease;
		border-radius: 1em;
		background-color: #ececec;
		padding: 2em;
		transition: all 0.5s ease;
		transform: translateX(0%);
	}
	&__btns {
		width: 100%;
		margin: 1em 0 0;
		padding: 0.4em;
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
	}
	&__img {
		width: calc(100% / 5 - 6em);
		max-height: 70vh;
		color: #393939;
		transition: all 0.4s ease;
		border-radius: 1em;
		background-color: #ececec;
		box-shadow: 1em 1em 2em #c9c9c9, -1em -1em 2em #ffffff,
			inset 0 0 0 transparent, inset 0 0 0 transparent;
		margin: 0 !important;
	}
}

.slide {
	&__img {
		width: calc(100% / 5 - 6em);
		max-height: 70vh;
		color: #393939;
		transition: all 0.4s ease;
		border-radius: 1em;
		background-color: #ececec;
		box-shadow: 1em 1em 2em #c9c9c9, -1em -1em 2em #ffffff,
			inset 0 0 0 transparent, inset 0 0 0 transparent;
		margin: 0 !important;
	}
}

.btns {
	&__punto {
		width: 2em;
		height: 2em;
		margin: 1em 1em 0;
		color: #393939;
		transition: all 0.4s ease;
		border-radius: 1em;
		background-color: #ececec;
		box-shadow: 0.6em 0.6em 1.2em #c9c9c9, -0.6em -0.6em 1.2em #ffffff,
			inset 0 0 0 transparent, inset 0 0 0 transparent;
	}
	&__punto.activo {
		background-color: #b5cb19;
	}
}
@media screen and (max-width: 1500px) {
	.dashboard__carrusel {
		flex-direction: column;
		justify-content: space-around;
	}
	.carrusel__slider {
		width: 70%;
	}
	.carrusel__TitleH2 {
		font-size: 3rem;
	}
	.carrusel__p {
		font-size: 1.1rem;
	}
}
@media screen and (max-width: 980px) {
	.carrusel__TitleH2 {
		font-size: 2.5rem;
	}
	.carrusel__slider {
		width: 80%;
	}
	.dashboard__carrusel {
		justify-content: center;
	}
	.carrusel__p {
		font-size: 1rem;
	}
	.carruselVideos__TitleH4 {
		font-size: 0.6rem;
	}
}

@media screen and (max-width: 795px) {
	.carrusel__TitleH2 {
		font-size: 2rem;
	}
	.carrusel__p {
		font-size: 0.8rem;
		font-weight: bold;
	}
}
@media screen and (max-width: 600px) {
	.slider__slides {
		padding: 0;
	}
	.slider__img {
		height: 250px;
		width: calc(28% - 6em);
		object-fit: cover;
	}
	.carrusel__descripcion {
		margin-bottom: 3rem;
	}
}
@media screen and (max-width: 420px) {
	// .slider__slides {
	// 	height: 20rem;
	// }
	// .carrusel__TitleH2 {
	// 	font-size: 26px;
	// }
	.carrusel__slider {
		width: 90%;
	}
	.slider__btns {
		display: none;
		overflow: hidden;
	}
}
