.info {
	&__h3 {
		font-weight: 550;
		font-size: 1.5rem;

		margin-bottom: 2rem;
	}

	&__item {
		font-size: 20px;
		font-weight: lighter;
		size: 30%;
	}
	&__img {
		width: 21px;
		height: 25px;
		/* background-color: #4aa500; */
	}

	&__item--white {
		font-weight: 550;
	}

	&__list {
		display: flex;
		align-items: center;
		margin-bottom: 1rem;
	}
	&__details {
		margin-left: 2.6rem;
	}
}
