.dashboard__jardin {
	background: url('/img/Welcome.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 100vh;
	background-color: var(--background-color);
	position: relative;
	overflow: hidden;
}

.jardin {
	&__TitleH1 {
		font-size: 3vw;
		position: absolute;
		width: 100%;
		text-align: center;
		top: 50%;
		color: #f5f5f5e0;
		font-weight: bold;
	}
}

@media screen and (max-width: 980px) {
	.jardin__TitleH1 {
		font-size: 2rem;
	}
}

@media screen and (max-width: 795px) {
	.jardin__TitleH1 {
		font-size: 28px;
	}
}

@media screen and (max-width: 420px) {
	.jardin__TitleH1 {
		font-size: 20px;
	}
}
