.dashboard-mision__contenido {
	min-height: 50vh;
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.contenido {
	&__Mision {
		background: url('/img/mision.jpg');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		height: 50vh;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	&__Vision {
		height: 50vh;
		background: url('/img/Vision.jpg');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	&__TitleH1 {
		font-size: 3rem;
		width: 100%;
		text-align: center;
		color: #ffff;
		font-weight: bold;
	}
	&__Description {
		text-align: center;
		font-size: 1rem;
		line-height: 1.5rem;
		font-family: 'Barlow Semi Condensed';
		font-weight: 500;
		max-width: 420px;
		color: #fff;
	}
}

@media screen and (min-width: 840px) {
	.dashboard-mision__contenido {
		flex-direction: row;
	}
	.contenido {
		&__Mision {
			width: 100%;
		}
		&__Vision {
			width: 100%;
		}
	}
}
