.dashboard-abejas {
	&__apiturismo {
		background: url(img/apiturismo2.jpg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		min-height: 100vh;
		background-color: var(--background-color);
		position: relative;
		overflow: hidden;
	}
}

.apiturismo {
	&__h2 {
		font-size: 4vw;
		position: absolute;
		top: 5%;
		right: 8%;
		text-align: center;
		width: 100%;
		font-weight: 100;
		color: #f5f5f5;
	}
	&__p {
		position: absolute;
		right: 6%;
		top: 13%;
		width: 18rem;
		text-align: justify;
		font-size: 1.2rem;
		color: #f5f5f5;
	}
}
