.dashboard__deportesDeAventuras {
	background-color: #00aeef;
	min-height: 100vh;
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	gap: 0;
}

.deportesDeAventuras {
	&__TitleH2 {
		font-size: 3vw;
		font-weight: bold;
		width: 100%;
		text-align: center;
		color: #235c77;
		margin: 3rem 0px;
	}
	&__videoSection {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		height: 70vh;
		text-align: center;
	}
}

@media screen and (max-width: 980px) {
	.deportesDeAventuras__TitleH2 {
		font-size: 2.2rem;
	}
}

@media screen and (max-width: 795px) {
	.deportesDeAventuras__TitleH2 {
		font-size: 30px;
	}
}

@media screen and (max-width: 420px) {
	.deportesDeAventuras__TitleH2 {
		font-size: 25px;
	}
}
